:root {
	--color-primary: white;
	--color-secondary: blac;
	--background-color: white;
}

@media screen and (prefers-color-scheme: dark) {
	:root {
		--color-primary: white;
		--color-secondary: white;
		--background-color: #191B1C;
	}
}


html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: var(--color-primary);
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-image: url("/background.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.container {
	padding: 20px;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
	background-color: var(--background-color);
	color: var(--color-primary);
}

input:disabled {
	color: #ccc;
}

button {
	color: var(--color-primary);
	background-color: var(--background-color);
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
